jelvalcic_aplikacija_2/jelvalcic_aplikacija_2/jelvalcic_aplikacija_2-ejb/src/conf/wsdl/localhost_8080/jelvalcic_aplikacija_1/JelvalcicAplikacija1WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servisi.jelvalcic.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servisi.jelvalcic.nwtis.foi.org/" name="JelvalcicAplikacija1WS">
<types>
<xsd:schema>
<xsd:import namespace="http://servisi.jelvalcic.nwtis.foi.org/" schemaLocation="http://localhost:8080/jelvalcic_aplikacija_1/JelvalcicAplikacija1WS?xsd=1" />
</xsd:schema>
</types>
<message name="vratiRangListuZipKodova">
<part name="parameters" element="tns:vratiRangListuZipKodova" />
</message>
<message name="vratiRangListuZipKodovaResponse">
<part name="parameters" element="tns:vratiRangListuZipKodovaResponse" />
</message>
<message name="vratiAktivneZipKodove">
<part name="parameters" element="tns:vratiAktivneZipKodove" />
</message>
<message name="vratiAktivneZipKodoveResponse">
<part name="parameters" element="tns:vratiAktivneZipKodoveResponse" />
</message>
<message name="vratiPopisMeteoPodatakaZaZip">
<part name="parameters" element="tns:vratiPopisMeteoPodatakaZaZip" />
</message>
<message name="vratiPopisMeteoPodatakaZaZipResponse">
<part name="parameters" element="tns:vratiPopisMeteoPodatakaZaZipResponse" />
</message>
<message name="vratiMeteoPodatkeZaZip">
<part name="parameters" element="tns:vratiMeteoPodatkeZaZip" />
</message>
<message name="vratiMeteoPodatkeZaZipResponse">
<part name="parameters" element="tns:vratiMeteoPodatkeZaZipResponse" />
</message>
<message name="vratiPopisMeteoPodatakaVremenskiInterval">
<part name="parameters" element="tns:vratiPopisMeteoPodatakaVremenskiInterval" />
</message>
<message name="vratiPopisMeteoPodatakaVremenskiIntervalResponse">
<part name="parameters" element="tns:vratiPopisMeteoPodatakaVremenskiIntervalResponse" />
</message>
<portType name="JelvalcicAplikacija1WS">
<operation name="vratiRangListuZipKodova">
<input wsam:Action="http://servisi.jelvalcic.nwtis.foi.org/JelvalcicAplikacija1WS/vratiRangListuZipKodovaRequest" message="tns:vratiRangListuZipKodova" />
<output wsam:Action="http://servisi.jelvalcic.nwtis.foi.org/JelvalcicAplikacija1WS/vratiRangListuZipKodovaResponse" message="tns:vratiRangListuZipKodovaResponse" />
</operation>
<operation name="vratiAktivneZipKodove">
<input wsam:Action="http://servisi.jelvalcic.nwtis.foi.org/JelvalcicAplikacija1WS/vratiAktivneZipKodoveRequest" message="tns:vratiAktivneZipKodove" />
<output wsam:Action="http://servisi.jelvalcic.nwtis.foi.org/JelvalcicAplikacija1WS/vratiAktivneZipKodoveResponse" message="tns:vratiAktivneZipKodoveResponse" />
</operation>
<operation name="vratiPopisMeteoPodatakaZaZip">
<input wsam:Action="http://servisi.jelvalcic.nwtis.foi.org/JelvalcicAplikacija1WS/vratiPopisMeteoPodatakaZaZipRequest" message="tns:vratiPopisMeteoPodatakaZaZip" />
<output wsam:Action="http://servisi.jelvalcic.nwtis.foi.org/JelvalcicAplikacija1WS/vratiPopisMeteoPodatakaZaZipResponse" message="tns:vratiPopisMeteoPodatakaZaZipResponse" />
</operation>
<operation name="vratiMeteoPodatkeZaZip">
<input wsam:Action="http://servisi.jelvalcic.nwtis.foi.org/JelvalcicAplikacija1WS/vratiMeteoPodatkeZaZipRequest" message="tns:vratiMeteoPodatkeZaZip" />
<output wsam:Action="http://servisi.jelvalcic.nwtis.foi.org/JelvalcicAplikacija1WS/vratiMeteoPodatkeZaZipResponse" message="tns:vratiMeteoPodatkeZaZipResponse" />
</operation>
<operation name="vratiPopisMeteoPodatakaVremenskiInterval">
<input wsam:Action="http://servisi.jelvalcic.nwtis.foi.org/JelvalcicAplikacija1WS/vratiPopisMeteoPodatakaVremenskiIntervalRequest" message="tns:vratiPopisMeteoPodatakaVremenskiInterval" />
<output wsam:Action="http://servisi.jelvalcic.nwtis.foi.org/JelvalcicAplikacija1WS/vratiPopisMeteoPodatakaVremenskiIntervalResponse" message="tns:vratiPopisMeteoPodatakaVremenskiIntervalResponse" />
</operation>
</portType>
<binding name="JelvalcicAplikacija1WSPortBinding" type="tns:JelvalcicAplikacija1WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="vratiRangListuZipKodova">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="vratiAktivneZipKodove">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="vratiPopisMeteoPodatakaZaZip">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="vratiMeteoPodatkeZaZip">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="vratiPopisMeteoPodatakaVremenskiInterval">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="JelvalcicAplikacija1WS">
<port name="JelvalcicAplikacija1WSPort" binding="tns:JelvalcicAplikacija1WSPortBinding">
<soap:address location="http://localhost:8080/jelvalcic_aplikacija_1/JelvalcicAplikacija1WS" />
</port>
</service>
</definitions>